<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Join Form</title>
</head>
<body>
<form action="/joinProc" method="post" name="joinForm">
    <!-- 학번 입력 칸 -->
    <input type="text" name="username" placeholder="Student ID (9 digits)" required/><br/>

    <!-- 비밀번호 입력 칸 -->
    <input type="password" name="password" placeholder="Password" required/><br/>

    <!-- 이름 입력 칸 -->
    <input type="text" name="name" placeholder="Name" required/><br/>

    <!-- 이메일 입력 칸 -->
    <input type="email" name="email" placeholder="Email" required/><br/>

    <!-- 회원가입 버튼 -->
    <input type="submit" value="Join"/>
</form>
</body>
</html>
